@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.footer-wrapper { 
    font: .9rem;
    background-color: $accent;
    color: $brandWhite;
    padding: 15px;
    text-align: center;
    width: 100%;
}