@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.banner-section {

    .swiper-slide {

        .front-slide-contaniner{
            display: flex;
            height: 100%;
            max-width: 100%;
            position: relative;
            justify-content: flex-end;



            h3{
                position: absolute;
                width: 100%;
                z-index: 3;
                font-size: 1rem;
                font-family: 'Nunito Sans', 'inter', ui-sans-serif, sans-serif;
                bottom: 8px;
                left: 20px;

                &::before {
                    content: " ";
                    background-color: $accent;
                    display: block;
                    width: 4px;
                    height: 18px;
                    position: absolute;
                    left: -6px;
                    bottom: 4.8px;
                    
                }
                @media (min-width: em(640)) {
                     font-size: 2rem;
                     left: 40px;
                     bottom: 1.2rem;

                     &::before {
                        width: 8px;
                        height: 28px;
                        left: -16px;
                        bottom: 12px;
                     }
                    
                }
            }

            .img-container {
 
                width: 70%;
                right: 0;
                text-align: right;


                img {
                    display: block;
                    border-radius: 10px;
                }

                &::before {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: rgba(0, 0, 0, 0)
                        linear-gradient(to left, 
                        rgba(255, 255, 255, 0) 10%, 
                        rgba(20, 20, 20, 0.335) 80%,
                        rgb(20, 20, 20) 100%) 
                        repeat scroll 0 0;       
                }               
            }

            @media (min-width: em(1024)) {
                height: 400px;
                .img-container {

                    img {
                        display: block;
                        object-fit: cover;
                        object-position: top center; 
                        width: 100%; 
                    }
                }
            }
        }
    }
    .swiper-button-prev, 
    .swiper-button-next {
        color: rgba(239, 237, 237, 0.947);
        // border: 1px solid white;
        background-color: rgba(170, 170, 170, 0.274);
        border-radius: 3px;
        width: calc(var(--swiper-navigation-size) / 64 * 27);
        height: 26px;
        top: var(--swiper-navigation-top-offset, 58%);

        &::after {
            font-size: 1rem;
        }
    }
    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 1px);
        right: auto;
    }
    .swiper-button-next {

        right: var(--swiper-navigation-sides-offset, 1px);
        left: auto;
    }

    .swiper-pagination {
        bottom: -3px;
        $bullet : 6px; 

        .swiper-pagination-bullet {
            width: $bullet;
            height: $bullet;
            background-color: white;




        }

        @media (min-width: em(640)) {
            $bullet : 8.5px; 
            bottom: 3px;


            .swiper-pagination-bullet {
                width: $bullet;
                height: $bullet;
            }

        }
        .swiper-pagination-bullet-active {
            background-color: $accent;

        }
    }

}
