@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.btn-hamburger { 
    border: none;
    background: none;
    visibility: visible;


    &:hover {
        cursor: pointer;
    }

    .hamburger {
        transition: all 0.3s ease-in-out;

        .line {
            width: 1.5rem;
            height: .18rem;
            background-color: $brandWhite;
            display: block;
            margin: 4px auto;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;

            .show &{
            margin: 3px auto;

            }
                
            .show &:nth-child(1){
                width: 1.1rem;
                height: .15rem;
                transition: all 0.3s ease-in-out;
                background-color: $accent;
                border-radius: 5px;
            }
              
            .show &:nth-child(2){
                width: 1.1rem;
                height: .15rem;
                transition: all 0.3s ease-in-out;
                background-color: $accent;
                border-radius: 5px;
            }

            .show &:nth-child(3){
                width: 1.15rem;
                height: .15rem;
                transition: all 0.3s ease-in-out;
                background-color: $accent;
                border-radius: 5px;
            }
        }
    }
    .show &{
        transition: all 0.3s ease-in-out;
        // transform: rotate(90deg);
    }

    @media (min-width: em(640)){
        display: none;
    }
}

