// Header 
@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;


header {
    display: flex;
    flex-wrap: wrap;
    background-color: $brandBlack;
    color: $brandWhite;
    padding: .2rem .5rem;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $titleFont, sans-serif; 
        margin: 0 .2rem;

        &:hover,
        &:checked {
            color: $accent;
        }
    }
}