@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.cards-section {

    .cards-section-header {
        display: flex;
        justify-content: flex-start;
        align-items:last baseline;
        
        h2 {
            margin: 2px 4px;
        }

        a {
            font-size: .7rem;
            margin-left: 5px;
        }
    }


    .swiper {
        $height : 8px;

        .swiper-wrapper {
            .swiper-slide {
                margin: 10px 2px 0 0;
            }
        }

        .swiper-scrollbar  {
            background: #7772723b;
            height: $height;
            border-radius: 3px;
            width: calc(100% - 65 * var(--swiper-scrollbar-sides-offset, 1%));
            left: var(--swiper-scrollbar-sides-offset, 1%);
            top: var(--swiper-scrollbar-bottom, 0px);
            margin-bottom: 4px;

  

            .swiper-scrollbar-drag {
                background: #71549897;
                border-radius: 1px;
                height: $height;
            }
        }
        
        @media (min-width: em(640)) {
            .swiper-scrollbar {
                width: calc(100% - 90 * var(--swiper-scrollbar-sides-offset, 1%));
                height: 6px;
                margin-left: -4px;

                .swiper-scrollbar-drag {
                    height: 6px;
                }
            }
        }

        @media (min-width: em(1024)){

            .swiper-scrollbar {
                margin-left: -10px;

            }


        }

        .swiper-button-prev, 
        .swiper-button-next {
            color: rgba(239, 237, 237, 0.947);
        }
        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, 3px);
            right: auto;

            &::after{
                visibility: hidden;
                font-size: 24px;
                background-color: rgba(239, 237, 237, 0.457);
                padding: 5px 3px;
                border-radius: 2px;
            }

            &:hover::after {
                visibility: visible;
            }
        }

        .swiper-button-next {

            right: var(--swiper-navigation-sides-offset, 2px);
            left: auto;

            &::after{
                visibility: hidden;
                font-size: 24px;
                background-color: rgba(239, 237, 237, 0.457);
                padding: 5px 3px;
                border-radius: 2px;

            }

            &:hover::after {
                visibility: visible;
            }
        }
    }
}