@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.about-page-wrapper {

    padding-left: 3px;
    padding-right:3px;
    max-width: 1024px;
    margin: 0 auto;

    .title {

        h2 {
            padding-left: 10px;
            font-size: 1.1rem;
            margin-bottom: 0;

            &:last-of-type {
            margin-top: 0;
            // margin-bottom: 10px;
            }

            @media (min-width: em(640)){
                font-size: 1.6rem;
                margin-top: 28px;
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .contents-wrapper {
        padding: 10px 6px;

        .first-row {

            .left-side {
                text-align: center;
    
                .logo-img {
                    width: 97%;
                    border-radius: 8px;
                }
    
            }
    
            .right-side {
    
                p {
                    font-size: 1rem;
                    line-height: 1.5;
                    padding: 0 4px
                }
    
    
            }
            @media (min-width: em(640)){
                display: flex;
                gap:12px;
                align-items: flex-start;

                .left-side {
                    .logo-img {
                        margin-top: 11px;
                    }

                }
                .right-side {
                    p{
                        font-size: 1.1rem;
                        padding-right: 15px;


                    }

                }
            }

        }
        
        .second-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 2rem; 
            margin-bottom: 1.5rem; 
            gap: 10px;

            .tmdb-logo {
                width: 200px;
                max-width: 315px;
            }

            p { text-align: center;
                font-size: .9rem;
                line-height: 1.2;
                background-color: rgba(67, 67, 67, 0.137);
                padding: 2px 4px;
                border-radius: 6px;
            }

            @media (min-width: em(640)) {
                margin-top: 4rem;
                margin-bottom: 4rem;

            }

        }
        
    }

}
