Header {
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
    color: #fff;
    padding: .2rem .5rem;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Notable', sans-serif;
    font-family: 'Shrikhand', sans-serif; 
    margin: 0 .2rem;
 
}

.hamburgerMenu { 
    border: none;
    background: none;
}

  
.hamburgerMenu :hover{
    cursor: pointer;
}

.line {
    width: 1.5rem;
    height: .15rem;
    background-color: #fff;
    display: block;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger .is-active{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hamburger .is-active .line:nth-child(1){
    width: 30px
}
  
.hamburger.is-active .line:nth-child(2){
    width: 40px
}

