.mainNav {
    width: 100%;
    overflow: hidden; 
    /* visibility: hidden; */
    /* height: 0; */
    transition: height 0.5s ease, visibility 0s 0.5s;

}

.mainNav ul {
    list-style-type: none;
    height: 6rem;
}

.show .mainNav {
    transition: height 0.5s ease, visibility 0s;
    visibility: visible;
    /* height: 254px; */
} 

a {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 0.5rem;
}