:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #fff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* reset */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Image Reset */
img {
  max-width: 100%;
  height: auto;
}

/* Table Reset */
table {
border-collapse: collapse;
border-spacing: 0;
}

ul, li, a{
  margin: 0;
  padding:0; 
  color : #fff;
  text-decoration: none;
}

h1 {
  /* font-size: vw; */
}

p {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
}


/* font on image */
.textOnImage {
  text-shadow: 2px 2px 4px rgba(0,0,0,.45);
  }





